:root {
    --main-bgc: #112240;
    --font-terminal-green: rgb(0, 215, 0);
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --font-color-white: #e6f1ff;
    --font-color-slate: #a8b2d1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--main-bgc);
    font-family: var(--font-mono);
}

a {
    color: var(--col);
    text-decoration: none;
    width: 100%;
}

a:hover {
    color: var(--font-terminal-green);
} 

/* ===================
======= HEADER =======
=================== */

header {
    padding: 15px 0px 30px 10px;
    color: var(--font-color-white);
}

header nav { 
    width: 100%;
    padding-top: 25px;
    padding-right: 40px;
}

header h1 {
    display: inline-block;
    font-size: 38px;
}

header h1 .portfolio {
    color: var(--font-color-slate);
    font-size: 24px;
}

header nav ol {
    padding-top: inherit;
    float: right;
    counter-reset: item;
    align-items: center;
}

header nav ol li {
    display: inline-block;
    margin-left: 10px;
}

header nav ol li::before {
    content: "0" counter(item) ". ";
    counter-increment: item;
    color: var(--font-terminal-green);
}
/* ===================
==== MAIN CONTENT ====
=================== */
main {
    padding-top: 25px;
}

.paragraph {
    padding: 60px 100px 0px 25px;
    display: flex;
}

.article-title {
    overflow-wrap: break-word;
    width: 9%;
    margin-right: 1%;
    border-right: 1px solid var(--font-color-white);
}

.article-title h2 {
    margin-right: 10px;
    color: var(--font-color-slate);
    text-align: right;
}

.article-content {
    width: 100%;
    display: flex;
    color: var(--font-color-white);
}

.article-content img {
    width: 100%;
    height: 400px;
    margin: 5px;
    padding-bottom: 10px;
}

.article-content img:hover {
    filter: blur(4px) grayscale(100%);
}

.avatar img {
    margin-right: 25px;
    width: 100px;
    height: 100px;
}

.container {
    position: relative;
    text-align: center;
    color: var(--main-bgc);
}

.top-left {
    position: absolute;
    background-color: transparent;
    top: 8px;
    left: 16px;
    font-size: 42px;

}

.article-content .secondary-image {
    width: 400px;
    height: 200px;
    align-items: center;
}

.contact-me {
    justify-content: space-around;
    align-items: center;
}
/* ===================
======= FOOTER =======
=================== */

footer {
    width: 100%;
    padding-top: 3.5rem;
    color: var(--font-color-white);
    text-align: center;
}

/* ===================
======= MEDIAQ =======
=================== */

@media screen and (max-width: 992px) {
    .article-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .article-content img {
        width: 400px;
        height: 200px;
    }
    
    .top-left {
        display: none;
    }

    .contact-section {
        padding-right: 20px;
    }
}