:root {
    --header-bgc: #020c1b;
    --main-bgc: #112240;
    --font-terminal-green: rgb(0, 215, 0);
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ===================
======= HEADER =======
=================== */
header {
    background-color: var(--main-bgc);
    color: white;
    padding-top: 25px;
    font-family: var(--font-mono);
}

header h1 {
    display: inline-block;
    font-size: 38px;
}

header h1 .portfolio {
    color: lightgray;
    font-size: 24px;
}

header nav {
    float: right;
    padding-top: 25px;
    margin-right: 20px;
    font-size: 16px;
}

header nav ol {
    counter-reset: item;
}

header nav ol li {
    display: inline-block;
    margin-left: 10px;
}

header nav ol li::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(--font-terminal-green);
}


header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: var(--font-terminal-green);
}

/* ===================
==== MAIN CONTENT ====
=================== */
main {
    background-color: var(--main-bgc);
    height: 100vh;
}